<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366677632936-ubvq1vlhkciubigajbtpcojbke2s20q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366677632936-ubvq1vlhkciubigajbtpcojbke2s20q1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>366677632936-v0r5bggpje4fhvmr6mne69os0vh2u6jg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ6WMjoOEmDfM2KGiwMGJVLjibUS7b_dw</string>
	<key>GCM_SENDER_ID</key>
	<string>366677632936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finaroProject</string>
	<key>PROJECT_ID</key>
	<string>finaro-ad1b6</string>
	<key>STORAGE_BUCKET</key>
	<string>finaro-ad1b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366677632936:ios:3bf1a189a4fe4d5f839f9d</string>
</dict>
</plist>